!!!5
html(ng-app='ubike-web', lang="zh-TW")
  head
    title Ubike 車輛與車位分析
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container-fluid.main-content(ng-controller="UbikeCtrl")
      .row-fluid
        .span11.offset4
          .title Ubike 車輛與車位分析
      .row-fluid
        .span11.offset4
          .type
            span.query_type 我要找
            span.bike(ng-click="predicate='bike'") 車輛
            span.slot(ng-click="predicate='slot'") 車位
          .query
            span.query_title 以站名查詢
            input(id="station_name", autofocus, ng-model="station_name")
      .row-fluid
        .span10.offset3
          block content
    footer
  script(src='/javascript/jquery-1.7.2.min.js', type='text/javascript')
  script(src='/javascript/bootstrap.min.js', type='text/javascript')
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js', type='text/javascript')
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-resource.min.js', type='text/javascript')
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js', type='text/javascript')
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-animate.min.js', type='text/javascript')
  script(src='/socket.io/socket.io.js', type='text/javascript')
  script(src='/javascript/app.js', type='text/javascript')
 
 
